/*@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";*/
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  background: #fafafa;
  height: 100%;
  color: black;
}

#container-score {
  text-align: center;
  border-color: white;
  outline: 1px solid white;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  border-inline-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;

  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #0e0e0e;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.flex-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px 0 10px;
}

.flex-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.custom-grid {
  grid-template-columns: minmax(20px, 0.3fr) minmax(150px, 1fr) minmax(150px, 1fr);
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  padding: 60px 5px;
}

.table-wrapper th, .table-wrapper td {
  padding: 6px;
}
